<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
  </head>
  <body>
    <div class="content-wrapper">
        <%- include('./partials/navbar') %>
        <section id="hero">
          <h1>Make learning cool and fun. Join now!</h1>
          <a href="/register" class="button-28" role="button">Start Now</a>
        </section>
        <%- include('./partials/waves') %>
        <%- include('./partials/footer') %>
    </div>
    <script src="js/script.js"></script>
  </body>
</html>
