<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/css/hero.css" type="text/css" />
    <link rel="stylesheet" href="/css/components.css" type="text/css" />
  </head>
  <body>
    <div class="content-wrapper">
      <%- include('./partials/navbar') %>
      <section id="hero">
        <div class="container hero-left">
          <h1>Conquer any subject with the power of flashcards</h1>
          <a href="/register" class="button-primary" role="button">Join Now</a>
        </div>
        <div class="container hero-right">
          <img src="/img/colored-cards.jpg" alt="">
        </div>
      
      </section>
      <%- include('./partials/waves') %> <%- include('./partials/footer') %>
    </div>
    <script src="js/script.js"></script>
  
  </body>
</html>
