<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/css/hero.css" type="text/css" />
    <link rel="stylesheet" href="/css/components.css" type="text/css" />
  </head>
  <body>
    <div class="content-wrapper">
      <%- include('./partials/navbar') %>
      <section id="hero">
        <div class="container hero-left">
          <h1 class="text-focus-in" id="phrase">Master <span>Anything</span>, One Flashcard at a Time</h1>
          <a href="/register" class="button-key" role="button">Start learning!</a>
        </div>
        <div class="container hero-right">
          
          <div class="flip-container bounce-top">
            <div class="card">
              <div class="front">
                <p>Term</p>
                <h2>flashy</h2>
              </div>
              <div class="back">
                <p>The most effective study method</p>
              </div>
            </div>
          </div>
          
          
          
        </div>
      
      </section>
      <%- include('./partials/waves') %> <%- include('./partials/footer') %>
    </div>
    <script src="js/script.js"></script>
  
  </body>
</html>
