<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create set</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/css/card-backgrounds.css" type="text/css" />
    <link rel="stylesheet" href="/css/create.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/components.css" type="text/css" />
  </head>
  <body>
    <%- include('../partials/navbar') %>
    <section id="create-set">
      <h1>Create new set</h1>
      <form action="/flashcards" method="POST" id="create-form">
        <div class="form-row" id="name">
          <div class="name-field">
            <label for="name"></label>
            <input
              type="text"
              autocomplete="off"
              name="name"
              id="name-input"
              placeholder="What's this set called?"
              autofocus
            />
            <div class="line"></div>
          </div>
        </div>

        <div class="form-row">
          <div class="field">
            <label for="description"></label>
            <textarea
              name="description"
              id="description"
              placeholder="Add a description"
            ></textarea>
            <div class="line"></div>
          </div>
          <div class="right-fields">
            <div class="field">
              <label for="background">Choose a background</label>
              <div class="background-options">
                <input
                  type="hidden"
                  name="background"
                  id="selected-background"
                  value="bg1"
                />
                <div class="background-option bg-pt-1" data-bg="bg-pt-1"></div>
                <div class="background-option bg-pt-2" data-bg="bg-pt-2"></div>
                <div class="background-option bg-pt-3" data-bg="bg-pt-3"></div>
                <div class="background-option bg-pt-4" data-bg="bg-pt-4"></div>
                <div class="background-option bg-pt-5" data-bg="bg-pt-5"></div>
                <div class="background-option bg-pt-6" data-bg="bg-pt-6"></div>
                <div class="background-option bg-pt-7" data-bg="bg-pt-7"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="field">
          <label for="cards" id="cardsLabel">Create at least 3 cards</label>
          <div id="cards-container">
            <div class="card">
              <div class="card-number">1</div>
              <div class="card-inputs">
                <textarea
                  class="resizable-textarea"
                  name="cards[0][term]"
                  id="term"
                  placeholder="Term"
                ></textarea>
                <textarea
                  class="resizable-textarea"
                  name="cards[0][definition]"
                  id="definition"
                  placeholder="Definition"
                ></textarea>
              </div>
              <i
                class="fas fa-trash remove-card"
                onclick="removeCard(this)"
              ></i>
            </div>
            <div class="card">
              <div class="card-number">2</div>
              <div class="card-inputs">
                <textarea
                  class="resizable-textarea"
                  name="cards[1][term]"
                  id="term"
                  placeholder="Term"
                ></textarea>
                <textarea
                  class="resizable-textarea"
                  name="cards[1][definition]"
                  id="definition"
                  placeholder="Definition"
                ></textarea>
              </div>
              <i
                class="fas fa-trash remove-card"
                onclick="removeCard(this)"
              ></i>
            </div>
            <div class="card">
              <div class="card-number">3</div>
              <div class="card-inputs">
                <textarea
                  class="resizable-textarea"
                  name="cards[2][term]"
                  id="term"
                  placeholder="Term"
                ></textarea>
                <textarea
                  class="resizable-textarea"
                  name="cards[2][definition]"
                  id="definition"
                  placeholder="Definition"
                ></textarea>
              </div>
              <i
                class="fas fa-trash remove-card"
                onclick="removeCard(this)"
              ></i>
            </div>
          </div>
          
        </div>

        <button type="button" class="button-3" onclick="addCard()">
          Add card
        </button>
        <button class="button-30" role="button">Create set</button>
        <div class="error-message" id="error-message">
          <i class="fas fa-exclamation-circle"></i>
          <span id="error-message-text"></span>
        </div>
      </form>
    </section>
    <%- include('../partials/waves') %>
    <script src="/js/script.js"></script>
    <script src="/js/activePage.js" defer></script>
    <script src="/js/validateDeck.js" defer></script>
  </body>
</html>
