
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css" type="text/css" />
</head>

<body>
    <div class="form-wrapper">
        <aside class="info-side">
            <div class="blockquote-wrapper">
                <blockquote>
                    Learn words, take tests, take the A's
                </blockquote>
                <div class="author">
                    <span class="author-name">@hiiramsan</span>
                </div>
            </div>
        </aside>
        <main class="form-side">
            <form class="my-form" action="/login" method="POST">
                <div class="form-welcome-row">
                    <h1>Welcome back! &#128079;</h1>
                    <h2>Login with your account!</h2>
                </div>
               <!--  <div class="socials-row">
                    <a href="#" title="Use Apple">
                        <img src="/img/apple.png" alt="Apple">
                        Continue with Apple
                    </a>
                </div>
                <div class="socials-row">
                    <a href="#" title="Use Github">
                        <img src="/img/google.png" alt="Google">
                        Continue with Google
                    </a>
                </div>
                <div class="divider">
                    <div class="divider-line"></div>
                    or
                    <div class="divider-line"></div>
                </div> -->
                <div class="text-field">
                    <label for="username">Username</label>
                    <input 
                        type="text" id="username" name="username" 
                        autocomplete="off" placeholder="Your username"
                        required autofocus>
                    <div class="error-message">Username in incorrect format</div>
                </div>
                <div class="text-field">
                    <label for="password">Password</label>
                    <input 
                        id="password" type="password" 
                        name="password" placeholder="Your password" required>
                    <div class="error-message">Minimum 6 characters at
                        least 1 Alphabet and 1 Number</div>
                </div>
                <button class="my-form__button">Sign In</button>
                <div class="my-form__actions">
                    <div class="my-form__row">
                        <span>Don't have an account?</span>
                        <a href="register" title="Reset Password">
                            Sign Up Now
                        </a>
                    </div>
                </div>
            </form>
        </main>
    </div>

    
</body>

</html>